* {
    margin: 0;
    padding: 0;
}

/*body, h2, nav, li {*/
/*    border: 1px solid black;*/
/*}*/

body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 0.5rem auto;
    padding: 0;
    text-align: center;
    height: 100%;
}

/*button {*/
/*    max-width: 8rem;*/
/*}*/

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: auto;
}

li a {
    text-decoration: none;
}

.create-game-button {
    margin-top: 1rem;
}

.GameComponent {
    display: flex;
}

.GameComponent > * {
    margin: 1rem auto;
}

.game-info {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
}

.game-info > button {
   margin-top: 1rem;
}

.Players ul {
    display: flex;
    flex-direction: column;
}
