<!DOCTYPE html>
<html lang="en">
<head>
  <title>FretQuiz</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
  <script type="importmap">
    {
      "imports": {
        "@stomp/stompjs": "https://ga.jspm.io/npm:@stomp/stompjs@7.0.0/esm6/index.js"
      }
    }
  </script>

  <script
      async
      src="https://ga.jspm.io/npm:es-module-shims@1.5.1/dist/es-module-shims.js"
      crossorigin="anonymous"
  ></script>

  <script async type="module" th:src="@{/js/main.js}"></script>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>

<h2>FretQuiz</h2>

<form method="post" action="/game">
  <button class="create-game-button" type="submit">Create Game</button>
</form>
</body>
</html>
